Repository ealebed/aws-lambdas-cicd-poc: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, go-fmt, go-vet, go-mod-tidy, go-unit-tests, golangci-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.14
        files: ^lambdas/python/.*\.py$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^lambdas/python/.*\.py$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^lambdas/javascript/.*\.(js|json)$

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && for file in "$@"; do dir=$(dirname "$file"); if [ -f "$dir/package.json" ] && grep -q "\"lint\"" "$dir/package.json"; then (cd "$dir" && npm run lint); else npx eslint --config lambdas/javascript/.eslintrc.json "$file"; fi; done' --
        language: system
        files: ^lambdas/javascript/.*\.js$
        require_serial: true

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && for file in "$@"; do dir=$(dirname "$file"); while [ "$dir" != "." ] && [ "$dir" != "/" ]; do if [ -f "$dir/go.mod" ]; then (cd "$dir" && gofmt -s -w .); break; fi; dir=$(dirname "$dir"); done; done' --
        language: system
        files: ^lambdas/go/.*\.go$
        pass_filenames: true
      - id: go-vet
        name: go vet
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && for file in "$@"; do dir=$(dirname "$file"); while [ "$dir" != "." ] && [ "$dir" != "/" ]; do if [ -f "$dir/go.mod" ]; then (cd "$dir" && go vet ./...); break; fi; dir=$(dirname "$dir"); done; done' --
        language: system
        files: ^lambdas/go/.*\.go$
        pass_filenames: true
      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && for file in "$@"; do dir=$(dirname "$file"); if [ -f "$dir/go.mod" ]; then (cd "$dir" && go mod tidy); fi; done' --
        language: system
        files: ^lambdas/go/.*\.(mod|sum)$
        pass_filenames: true
      - id: go-unit-tests
        name: go unit tests
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && for file in "$@"; do dir=$(dirname "$file"); while [ "$dir" != "." ] && [ "$dir" != "/" ]; do if [ -f "$dir/go.mod" ]; then (cd "$dir" && go test ./... -race); break; fi; dir=$(dirname "$dir"); done; done' --
        language: system
        files: ^lambdas/go/.*\.go$
        pass_filenames: true
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && for file in "$@"; do dir=$(dirname "$file"); while [ "$dir" != "." ] && [ "$dir" != "/" ]; do if [ -f "$dir/go.mod" ]; then (cd "$dir" && golangci-lint run --timeout=4m --config "$(git rev-parse --show-toplevel)/lambdas/go/.golangci.yaml" ./...); break; fi; dir=$(dirname "$dir"); done; done' --
        language: system
        files: ^lambdas/go/.*\.go$
        pass_filenames: true

fix workflow with tags update
  .github/workflows/tpl_go_deploy.yml
  .github/workflows/tpl_javascript_deploy.yml
  .github/workflows/tpl_python_deploy.yml
Due: none

update docs
  README.md
  docs/lambda-execution-role-setup.md
  lambdas/go/go_1_example/main.go
  lambdas/go/go_2_example/main.go
  lambdas/python/python_1_example/lambda_function.py
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

fix workflows
  .github/workflows/tpl_python_deploy.yml
Due: none

simplify repeatable workflows
  .github/workflows/tpl_javascript_deploy.yml
  .github/workflows/tpl_lambda_deploy.yml
  .github/workflows/tpl_python_deploy.yml
  .github/workflows/wfl_lambdas_release.yml
  README.md
  lambdas/go/go_1_example/main.go
  lambdas/javascript/javascript_1_example/index.js
  lambdas/python/python_1_example/lambda_function.py
Due: eslint, go-fmt, go-vet, go-unit-tests, golangci-lint

update scripts and default architecture to arm64
  lambdas/go/go_1_example/main.go
  lambdas/python/python_2_example/lambda_function.py
  scripts/README.md
  scripts/determine-docker-platform.sh
  scripts/ecr-copy-image-to-region.sh
  scripts/parse-lambda-config.sh
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

set architecture in config files
  lambdas/go/go_1_example/lambda-config.yaml
  lambdas/go/go_2_example/lambda-config.yaml
  lambdas/javascript/javascript_1_example/lambda-config.yaml
  lambdas/javascript/javascript_2_example/lambda-config.yaml
  lambdas/python/python_1_example/lambda-config.yaml
Due: none

fix scripts depays
  scripts/README.md
  scripts/ecr-copy-image-to-region.sh
Due: none

remove describe image and scripts delays
  scripts/README.md
  scripts/ecr-copy-image-to-region.sh
Due: none

Bump Golang ecosystem to 1.27 version
  .github/workflows/tpl_go_validation.yml
  .github/workflows/tpl_lambda_deploy.yml
  README.md
  lambdas/go/Dockerfile
  lambdas/go/go_1_example/go.mod
  lambdas/go/go_1_example/main.go
  lambdas/go/go_2_example/go.mod
  lambdas/go/go_2_example/main.go
Due: go-fmt, go-vet, go-mod-tidy, go-unit-tests, golangci-lint

Enable automerge for Dependabot's minor and patch updates
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/wfl_pr_validation.yml
  README.md
  docs/decisions/001-dependabot-auto-merge.md
  docs/dependabot-automation.md
Due: none
