Repository ealebed/aws-lambdas-cicd-poc: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, go-fmt, go-vet, go-mod-tidy, go-unit-tests, golangci-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.14
        files: ^lambdas/python/.*\.py$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^lambdas/python/.*\.py$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^lambdas/javascript/.*\.(js|json)$

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && for file in "$@"; do dir=$(dirname "$file"); if [ -f "$dir/package.json" ] && grep -q "\"lint\"" "$dir/package.json"; then (cd "$dir" && npm run lint); else npx eslint --config lambdas/javascript/.eslintrc.json "$file"; fi; done' --
        language: system
        files: ^lambdas/javascript/.*\.js$
        require_serial: true

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && for file in "$@"; do dir=$(dirname "$file"); while [ "$dir" != "." ] && [ "$dir" != "/" ]; do if [ -f "$dir/go.mod" ]; then (cd "$dir" && gofmt -s -w .); break; fi; dir=$(dirname "$dir"); done; done' --
        language: system
        files: ^lambdas/go/.*\.go$
        pass_filenames: true
      - id: go-vet
        name: go vet
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && for file in "$@"; do dir=$(dirname "$file"); while [ "$dir" != "." ] && [ "$dir" != "/" ]; do if [ -f "$dir/go.mod" ]; then (cd "$dir" && go vet ./...); break; fi; dir=$(dirname "$dir"); done; done' --
        language: system
        files: ^lambdas/go/.*\.go$
        pass_filenames: true
      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && for file in "$@"; do dir=$(dirname "$file"); if [ -f "$dir/go.mod" ]; then (cd "$dir" && go mod tidy); fi; done' --
        language: system
        files: ^lambdas/go/.*\.(mod|sum)$
        pass_filenames: true
      - id: go-unit-tests
        name: go unit tests
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && for file in "$@"; do dir=$(dirname "$file"); while [ "$dir" != "." ] && [ "$dir" != "/" ]; do if [ -f "$dir/go.mod" ]; then (cd "$dir" && go test ./... -race); break; fi; dir=$(dirname "$dir"); done; done' --
        language: system
        files: ^lambdas/go/.*\.go$
        pass_filenames: true
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && for file in "$@"; do dir=$(dirname "$file"); while [ "$dir" != "." ] && [ "$dir" != "/" ]; do if [ -f "$dir/go.mod" ]; then (cd "$dir" && golangci-lint run --timeout=4m --config "$(git rev-parse --show-toplevel)/lambdas/go/.golangci.yaml" ./...); break; fi; dir=$(dirname "$dir"); done; done' --
        language: system
        files: ^lambdas/go/.*\.go$
        pass_filenames: true

fix path to golangci config
  .github/workflows/tpl_go_validation.yml
Due: none

fix path to golangci
  .github/workflows/tpl_go_validation.yml
Due: none

fix path to golangci
  .github/workflows/tpl_go_validation.yml
  lambdas/go/.golangci.yaml
Due: none

skip files - only actual lambda subdirectories
  .github/workflows/wfl_pr_validation.yml
Due: none

fix bugbot's comments
  .pre-commit-config.yaml
  lambdas/go/go_1_example/main.go
  lambdas/go/go_1_example/main_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

fix arch in Dockerfile
  lambdas/go/go_1_example/Dockerfile
Due: none

fix workflow for release@
  .github/workflows/wfl_lambdas_release.yml
  lambdas/javascript/.eslintrc.json
  lambdas/javascript/.prettierrc.json
  lambdas/python/pyproject.toml
Due: none

fix bug
  .github/workflows/wfl_lambdas_release.yml
Due: none

test trigger for release
  .gitignore
  lambdas/go/go_1_example/main.go
  lambdas/python/pyproject.toml
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

fix workflow
  .github/workflows/wfl_lambdas_release.yml
Due: none

test trigger for release
  lambdas/go/go_1_example/main.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

fix wflw
  .github/workflows/wfl_lambdas_release.yml
Due: none

fix workflows
  .github/workflows/tpl_go_deploy.yml
  .github/workflows/tpl_javascript_deploy.yml
  .github/workflows/tpl_python_deploy.yml
Due: none

fix workflows
  .github/workflows/tpl_go_deploy.yml
  .github/workflows/tpl_javascript_deploy.yml
  .github/workflows/tpl_python_deploy.yml
  lambdas/go/go_1_example/lambda-config.yaml
Due: none

fix workflows
  .github/workflows/tpl_go_deploy.yml
Due: none

test trigger for release 2 Go functions
  lambdas/go/go_2_example/Dockerfile
  lambdas/go/go_2_example/go.mod
  lambdas/go/go_2_example/go.sum
  lambdas/go/go_2_example/lambda-config.yaml
  lambdas/go/go_2_example/main.go
  lambdas/go/go_2_example/main_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-unit-tests, golangci-lint

test trigger for release python
  .pre-commit-config.yaml
  lambdas/go/go_1_example/main.go
  lambdas/python/pyproject.toml
  lambdas/python/python_1_example/Dockerfile
  lambdas/python/python_1_example/lambda-config.yaml
  lambdas/python/python_1_example/lambda_function.py
  lambdas/python/python_1_example/requirements.txt
  lambdas/python/python_1_example/test_lambda_function.py
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

test trigger for release python 2
  .github/workflows/wfl_lambdas_release.yml
  .gitignore
  docs/lambda-execution-role-setup.md
  lambdas/python/python_2_example/Dockerfile
  lambdas/python/python_2_example/lambda-config.yaml
  lambdas/python/python_2_example/lambda_function.py
  lambdas/python/python_2_example/requirements.txt
  lambdas/python/python_2_example/test_lambda_function.py
Due: none

test trigger for release js both + others
  .pre-commit-config.yaml
  README.md
  lambdas/go/go_1_example/main.go
  lambdas/javascript/.eslintrc.json
  lambdas/javascript/javascript_1_example/Dockerfile
  lambdas/javascript/javascript_1_example/index.js
  lambdas/javascript/javascript_1_example/index.test.js
  lambdas/javascript/javascript_1_example/lambda-config.yaml
  lambdas/javascript/javascript_1_example/package-lock.json
  lambdas/javascript/javascript_1_example/package.json
  lambdas/javascript/javascript_2_example/Dockerfile
  lambdas/javascript/javascript_2_example/index.js
  lambdas/javascript/javascript_2_example/index.test.js
  lambdas/javascript/javascript_2_example/lambda-config.yaml
  lambdas/javascript/javascript_2_example/package-lock.json
  lambdas/javascript/javascript_2_example/package.json
  lambdas/python/python_1_example/Dockerfile
  lambdas/python/python_1_example/lambda_function.py
  lambdas/python/python_2_example/Dockerfile
Due: eslint, go-fmt, go-vet, go-unit-tests, golangci-lint

test deploy
  lambdas/go/go_1_example/main.go
  lambdas/javascript/javascript_1_example/index.js
  lambdas/javascript/javascript_1_example/package-lock.json
  lambdas/python/python_2_example/lambda_function.py
Due: eslint, go-fmt, go-vet, go-unit-tests, golangci-lint

Update workflows, use chared Dockerfiles
  .github/workflows/tpl_go_deploy.yml
  .github/workflows/tpl_javascript_deploy.yml
  .github/workflows/tpl_python_deploy.yml
  lambdas/go/Dockerfile
  lambdas/go/go_2_example/Dockerfile
  lambdas/javascript/Dockerfile
  lambdas/javascript/javascript_2_example/Dockerfile
  lambdas/python/Dockerfile
  lambdas/python/python_2_example/Dockerfile
  scripts/parse-lambda-config.sh
Due: none

Update docs
  README.md
Due: none

update dependabot configs
  .github/dependabot.yml
Due: none

Enchancement: allow to deploy the same AWS Lambdas to several regions
  .github/workflows/tpl_go_deploy.yml
  .github/workflows/tpl_javascript_deploy.yml
  .github/workflows/tpl_python_deploy.yml
  .github/workflows/wfl_lambdas_release.yml
  docs/lambda-multi-region.md
  lambdas/go/go_1_example/lambda-config.yaml
  lambdas/go/go_2_example/lambda-config.yaml
  lambdas/javascript/javascript_1_example/lambda-config.yaml
  lambdas/javascript/javascript_2_example/lambda-config.yaml
  lambdas/python/python_1_example/lambda-config.yaml
  lambdas/python/python_2_example/lambda-config.yaml
  scripts/README.md
  scripts/determine-docker-platform.sh
  scripts/ecr-copy-image-to-region.sh
  scripts/ecr-ensure-repo.sh
  scripts/ecr-lifecycle-policy.json
  scripts/parse-lambda-config.sh
  scripts/resolve-deploy-regions.sh
Due: none

fix lifecycle ECR policy
  lambdas/go/go_1_example/main.go
  lambdas/go/go_2_example/main.go
  lambdas/javascript/javascript_1_example/index.js
  lambdas/javascript/javascript_1_example/package-lock.json
  lambdas/javascript/javascript_2_example/index.js
  lambdas/javascript/javascript_2_example/package-lock.json
  lambdas/python/python_1_example/lambda_function.py
  lambdas/python/python_2_example/lambda_function.py
  scripts/ecr-lifecycle-policy.json
Due: eslint, go-fmt, go-vet, go-unit-tests, golangci-lint

fix workflows
  .github/workflows/wfl_lambdas_release.yml
  lambdas/go/go_1_example/main.go
  lambdas/go/go_2_example/main.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

enrich debug output
  .github/workflows/wfl_lambdas_release.yml
Due: none

fix lifecycle policy
  scripts/ecr-lifecycle-policy.json
Due: none

fix workflow with tags update
  .github/workflows/tpl_go_deploy.yml
  .github/workflows/tpl_javascript_deploy.yml
  .github/workflows/tpl_python_deploy.yml
Due: none
